@model BuildInspect.Models.ViewModel.AssessmentJointMasterViewModel

@{
    Layout = null;
}

<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
    <div class="col-sm-9">
        <h4 class="page-title">Joint Update</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Masters</li>
            <li class="breadcrumb-item"><a href="#" class="JointIndex">Joint List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Joint Update</li>
        </ol>
    </div>
</div>
<!-- End Breadcrumb-->

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "JointEditForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AssessmentJointID)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.CreatedBy)
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="form-header text-uppercase">
                        <i class="fa fa-user-circle-o"></i>
                        Joint Info
                    </h4>
                    <div class="form-group row">
                        <label for="input-1" class="col-sm-2 col-form-label">Joint name<span class="symbol required"></span></label>
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.AssessmentJointName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssessmentJointName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="input-1" class="col-sm-2 col-form-label">Display Order<span class="symbol required"></span></label>
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.OrderBy, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1", @step = "1", @value = "0" } })
                            @Html.ValidationMessageFor(model => model.OrderBy, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="button" id="btnCancelJoint" class="btn btn-danger JointIndex"><i class="fa fa-times"></i> CANCEL</button>
                        <button type="button" onclick="JointUpdate()" id="btnUpdateJoint" class="btn btn-success"><i class="fa fa-check-square-o"></i> UPDATE</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!--End Row-->
}
<!-- End Row-->

<script>
    $().ready(function () {
        $("#JointEditForm").validate({
            rules: {
                AssessmentJointName: "required",
                OrderBy: "required"
            },
            messages: {
                AssessmentJointName: "Please enter your Joint Name",
                OrderBy: "Please enter your Display Order",
            }
        });
    });

    function JointUpdate() {
        if ($('#JointEditForm').valid()) {
            $.post("Assessment/JointEdit", $('#JointEditForm').serialize(), function (data) {
                if (data.value == "OK") {
                    swal($('#AssessmentJointName').val() + "- Joint has been updated!", {
                        icon: "success",
                        timer: 360000
                    });
                    Lobibox.notify('success', {
                        size: 'mini',
                        position: 'top right',
                        msg: $('#AssessmentJointName').val() + "- Joint has been updated!"
                    });
                    $.get("Assessment/JointIndex", function (data) {
                        $('#page-wrapper').html(data);
                    });
                }
                else if (data.value == "Failed") {
                    swal("Warning!", "Joint Updation failed!", "warning");
                    Lobibox.notify('error', {
                        size: 'mini',
                        position: 'top right',
                        msg: "Joint Updation failed!"
                    });
                }
                else {
                    swal("Warning!", data.value, "warning");
                    Lobibox.notify('error', {
                        size: 'mini',
                        position: 'top right',
                        msg: data.value
                    });
                }
            });
        }
    }
</script>