@model BuildInspect.Models.ViewModel.QCInspectionDefectTypeMasterViewModel

@{
    Layout = null;
}

<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
    <div class="col-sm-9">
        <h4 class="page-title">Defect Type Creation</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Masters</li>
            <li class="breadcrumb-item"><a href="#" class="QCInspectionDefectTypeIndex">Defect Type List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Defect Type Creation</li>
        </ol>
    </div>
</div>
<!-- End Breadcrumb-->

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "DefectTypeAddForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="form-header text-uppercase">
                        <i class="fa fa-user-circle-o"></i>
                        DefectType Info
                    </h4>
                    <div class="form-group row">
                        <label for="input-1" class="col-sm-2 col-form-label">DefectType name<span class="symbol required"></span></label>
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.DefectName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DefectName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="input-1" class="col-sm-2 col-form-label">Display Order<span class="symbol required"></span></label>
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.OrderBy, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1", @step = "1", @value = "0" } })
                            @Html.ValidationMessageFor(model => model.OrderBy, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="button" id="btnCancelDefectType" class="btn btn-danger QCInspectionDefectTypeIndex"><i class="fa fa-times"></i> CANCEL</button>
                        <button type="button" onclick="DefectTypeCreate()" id="btnSaveDefectType" class="btn btn-success"><i class="fa fa-check-square-o"></i> SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!--End Row-->
}
<!-- End Row-->

<script>
    $().ready(function () {
        $("#DefectTypeAddForm").validate({
            rules: {
                DefectName: "required",
                OrderBy: "required"
            },
            messages: {
                DefectName: "Please enter your Defect Type Name",
                OrderBy: "Please enter your Display Order",
            }
        });
    });

    function DefectTypeCreate()
    {
        if ($('#DefectTypeAddForm').valid())
        {
            $.post("QCInspection/DefectTypeCreate", $('#DefectTypeAddForm').serialize(), function (data)
            {
                debugger
                if (data.value == "OK") {
                    swal($('#DefectName').val() + "- Defect Type has been created!", {
                        icon: "success",
                    });
                    Lobibox.notify('success', {
                        size: 'mini',
                        position: 'top right',
                        msg: $('#DefectName').val() + "- Defect Type has been created!"
                    });
                    $.get("QCInspection/DefectTypeIndex", function (data) {
                        $('#page-wrapper').html(data);
                    });
                }
                else if (data.value == "Failed") {
                    swal("Warning!", "Defect Type creation failed!", "warning");
                    Lobibox.notify('error', {
                        size: 'mini',
                        position: 'top right',
                        msg: "Defect Type creation failed!"
                    });
                }
                else {
                    swal("Warning!", data.value, "warning");
                    Lobibox.notify('error', {
                        size: 'mini',
                        position: 'top right',
                        msg: data.value
                    });
                }
            });
        }
    }
</script>


