@model List<BuildInspect.Models.ViewModel.QCInspectionRFWITradeDetailedCheckListDetailViewModel>

@{
    var ItemSno = 1;
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><a href="" onclick="AddDetailedCheckList()" data-toggle="modal" class="btn btn-primary waves-effect waves-light m-1"><i class="fa fa-plus"></i> Add Detailed Check List</a></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="DetailedCheckListTable" class="table table-hover table-striped table-bordered">
                        <thead style="background-color: #F16876; color: white">
                            <tr>
                                <th>S.No</th>
                                <th>Detailed Check List Name</th>
                                <th>Display Order</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @ItemSno
                                    </td>
                                    <td>@item.DetailedCheckListName</td>
                                    <td>@item.OrderBy</td>
                                    <td>
                                        <button class="btn btn-success" onclick="EditDetailedCheckList(@item.TradeDetailedCheckListID)"><i class="fa fa-edit"></i></button>
                                        <button class="btn btn-danger" onclick="DeleteDetailedCheckList('@item.TradeDetailedCheckListID','@item.DetailedCheckListName')"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                                ItemSno++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>