@model List<BuildInspect.Models.ViewModel.QCInspectionUnitMasterViewModel>

@{
    var UnitSno = 1;
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            @if (@ViewBag.ProjectCompleted == 0)
            {
                <div class="card-header"><a href="" id="aAddUnit" onclick="AddUnit()" data-toggle="modal" class="btn btn-primary waves-effect waves-light m-1"><i class="fa fa-plus"></i> Add Unit</a></div>
            }
            <div class="card-body">
                <div class="table-responsive">
                    <table id="UnitTable" class="table table-hover table-striped table-bordered">
                        <thead style="background-color: #F16876; color: white">
                            <tr>
                                <th>S.No</th>
                                <th>Block/Level</th>
                                <th>Unit</th>
                                <th>Display Order</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @UnitSno
                                    </td>
                                    <td>@item.qcinspection_level_master.BlockName - @item.qcinspection_level_master.LevelName</td>
                                    <td>@item.UnitName</td>
                                    <td>@item.OrderBy</td>
                                    <td>
                                        @if (@ViewBag.ProjectCompleted == 0)
                                        {
                                            <button class="btn btn-success" onclick="EditUnit(@item.UnitID)"><i class="fa fa-edit"></i></button>
                                            <button class="btn btn-danger" onclick="DeleteUnit('@item.UnitID','@item.UnitName')"><i class="fa fa-trash"></i></button>
                                        }
                                    </td>
                                </tr>
                                UnitSno++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
